@media(min-width:320px){
    .resize2{
        width:150px;
       margin-left:30px;
    }
    #main_nav li {
        
       display:block;
       
    }
    .footer_icon{
        width:135px;
    }
}
@media(min-width:768px){
    .resize2{
        width:197px;
        margin-left:0px;
    }
    #main_nav li {
        
        display:left;
        
     }
}